* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    list-style: none;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100vw;
    padding-left: 310px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
}

.bg_video1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 37px;
    padding: 31px 0;
}

nav a {
    font-family: Arial;
    font-weight: 400;
    font-size: 11.92px;
    line-height: 19.6px;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    color: white;
}

.info_p {
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 17.19px;
    leading-trim: NONE;
    line-height: 38px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;

}

.info_h3 {
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 41.06px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;

}

.info_a {
    font-family: Arial;
    font-weight: 400;
    font-size: 41.06px;
    line-height: 48px;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px 43px;
    border: 2px solid white;
    color: white;

}

.header_info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    gap: 18px;

}

/* ______________________________________main_______________________ */
main {
    position: relative;
    width: 100vw;
    padding-left: 310px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
}

.bg_video2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
}

.main_info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    gap: 18px;
}



section {
    position: relative;
    width: 100vw;
    padding-left: 310px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120vh;
}


.section_info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    gap: 18px;
}

.bg_video3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}